body {
  font-family: 'Lora';
}

h1,
h2,
h3,
h4,
h5,
.card-body .card-title {
  font-family: 'Lora';
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  
}

h2 {
  color: #e6a756;
}

.card-img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.jumbotron {
  display: fluid;
  padding: 2rem 1rem;
  background-image: url('../src/app/assets/img/bg.png');
  background-size: cover;
  background-color: rgb(122, 109, 59);
}

.jumbotron img {
  max-width: 75%;
  height: auto;
  margin-left: 3rem;
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.bg-faded {
  background-color: #f6e1c5;
}

.intro {
  position: relative;
}
@media (min-width: 992px) {
  .intro .intro-img {
    width: 75%;
    float: right;
  }
  .intro .intro-text {
    left: 0;
    width: 60%;
    margin-top: 3rem;
    position: absolute;
  }
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}
@media (min-width: 1200px) {
  .intro .intro-text {
    width: 45%;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.section-heading {
  text-transform: uppercase;
}
.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
}
.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}

.site-footer {
  background-image: linear-gradient(#cec8ff, white);
  padding: 20px 0;
  margin-top: 2rem;
  color: #e6a756;
  font-weight: 500;
}

.site-heading {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Helvetica Neue';
  text-align: left;
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
  color: #e6a756;
}

.site-heading .site-heading-lower {
  font-size: 4rem;
  font-weight: 100;
  line-height: 4rem;
  color: whitesmoke;
}

.navbar-dark {
  background-color: #901cad;
  background-image: linear-gradient(to right, #020202, #3046c5, #510e5a);
  margin-bottom: 2rem;
  min-height: 5rem;
}

.navbar-toggler-icon {
  background-image: url('../src/app/assets/img/toggler.svg') !important;
  width: 50px !important;
  height: 50px !important;
}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}